// light theme
// $primary-color: #FCF8EC;
// $secondary-color: #D0E8F2;
// $tertiary-color: #79A3B1;
// $quaternary-color: #456268;
// $quinary-color: black;
// dark theme
$primary-color: #1B262C;
$secondary-color: #0F4C75;
$tertiary-color: #3282B8;
$quaternary-color: #BBE1FA;
$quinary-color: white;