:root {
    /* --primary-color: #7C7287; */
    --primary-color: #023C40;
    --secondary-color: #9DC0BC;
    --tertiary-color: #B2EDC5;
    --quaternary-color: #BAFFDF;
    --quinary-color: #C1FFF2;
    --pacman-color: white;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font: 300 11px/1.4 'Helvetica Neue', sans-serif;
    color: var(--secondary-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--primary-color);
    overflow: hidden;
    display: block;
}